body {
    margin:0;
    padding:0;
    background-color: #b0a8b9;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top-div * {
    background-color: cadetblue;
    padding: 5px;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 20px;
    margin-right: 52px;
}

.push {
    margin-right: auto;
    margin-left: 144px;
    margin-bottom: -120px;
}


.x1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    padding-bottom: 30px;
}

.welcome-text {
    flex-direction: column;
    margin: 150px;
}

.welcome-text p {
    padding-top: 30px;
}

img {
    margin-right: 60px;
}

.second-div * {
    text-align: center;
    background-color: #009f81;
}

.middle-images {
    display: flex;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-evenly;
    list-style-type: none;
}

.pug {
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.pug p {
    text-align: center;
}

.pug img {
    margin-right: 0px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 60px;
}

.third-div {
    background-color: #418da7;
    margin: 0px;
    padding: 80px;
    text-align: center;
}

.third-div h4 {
    font-size: 36px;
}

.footer {
    background-color: rgb(34, 114, 77);
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-size: 24px;
    font-weight: bold;
}
.sign-up {
    padding: 10px;
    margin-left: 30px;
}